@font-face {
    font-family: 'Merriweather';
    src: url(Merriweather-Regular.ttf);
}

@font-face {
    font-family: 'playfair';
    src: url(PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'marker';
    src: url(PermanentMarker-Regular.ttf);
}

html {background-color: black}

#header{
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    font-size: 180px;
    padding-top: 180px;
    color: rgb(255, 255, 255);
    font-family: 'marker';
    text-align: center;
    line-height: 1.2em;
    letter-spacing: 0.05em;

    z-index: 1;
    opacity: 0;
    animation: opacity-change linear;
    animation-timeline: scroll();
    animation-range-start: 0;
    animation-range-end: 340px;

}

@keyframes opacity-change {
    from {opacity: 1;}
    to {opacity: 0;}
}

#video{
    width:100vw;
}

#container1 {
    display: block;
}

#content1 {
    display: block;
    font-family: 'Merriweather';
    color: rgb(255, 255, 255);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 20px;
}


.heading {
    text-align: right;
    color: white;
    padding-right: 50px;
    font-family: 'marker';
    font-size: 100px;
    margin-bottom: 0;
}

.content2 {
    padding-bottom: 100px;
    font-family: 'Merriweather';
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 1.7rem;
    text-align: right;
    padding-right: 40px;

}



@keyframes fade-in {
    from{opacity: 0; scale: .9;}
    to{opacity: 1; scale: 1;}
}

.desc {
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 220px;

}

#container2 {
    display:grid;
    grid-template-rows: repeat(7, 80px);
    grid-template-columns: repeat(12,124px);
    justify-content: center;
    align-items: center;

}


#div1 {
    grid-area: 1 / 6 / 8 / 8;
}

#rocket1 {
    max-width: 100%;
    object-fit: contain;

}

#desc1 {
    font-family: "playfair";
    font-size: 35px;
    grid-area: 2/1/3/6;
    text-align: right;
    color: white;
    padding-right: 20px;

}
#desc2 {
    font-family: "playfair";
    font-size: 60px;
    grid-area: 3/1/4/6;
    text-align: right;
    color: white;
    padding-right: 20px;
    padding-bottom: 30px;
}
#desc3 {
    font-family: "playfair";
    font-size: 95px;
    grid-area: 4/1/6/6;
    text-align: right;
    color: white;
    padding-right: 20px;
    line-height: 0.9em;
    padding-bottom: 10px;
}
#desc4 {
    font-family: "playfair";
    font-size: 40px;
    grid-area: 6/1/7/6;
    text-align: right;
    color: white;
    padding-right: 20px;
    padding-top: 65px;
    line-height: 1.2em;
}
#desc5 {
    font-family: "playfair";
    font-size: 50px;
    grid-area: 2/8/4/13;
    text-align: left;
    color: white;
    padding-left: 10px;
    padding-bottom: 40px;
}
#desc6 {
    font-family: "playfair";
    font-size: 90px;
    grid-area: 3/8/6/13;
    text-align: left;
    color: white;
    padding-left: 10px;
    line-height: 1em;
    padding-bottom: 30px;
}
#desc7 {
    font-family: "playfair";
    font-size: 120px;
    grid-area: 5/8/7/10;
    text-align: left;
    color: white;
    padding-left: 10px;
    padding-top: 45px;
}

.content3 {
    font-family: 'Merriweather';
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 1.7rem;
    text-align: right;
    padding-right: 40px;

}

 .scroller{
    display: grid;
    grid-auto-flow: column;
    overflow-x:auto;
    overscroll-behavior-inline: contain;
    z-index: 3;
}

.Highlights {

    height: 600px;
    width: 700px;
    z-index: 3;

}

.res {
    height: 500px;
    width: 700px;
    object-fit: contain;
    z-index: 3;
}

.anno {
    font-family: 'Merriweather';
    color: white;
    font-size: 18px;
    padding-left: 25px;
}

.bgImg {
    background: url(RocketStructure.png);
    width: 1490px;
    height: 2000px;
}

svg {
    border: 1px solid;

}

.inSvg {

    font: 35px 'Merriweather';
    
}

.button {

    background-color: #c1c1c1e7; 
    color: white;
    padding: 30px 46px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
    font-family: 'merriweather';
    font-size: 30px;

}

.button:hover {
    background-color: #979797e7; 
    color: white;
    padding: 30px 46px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
    font-family: 'merriweather';
    font-size: 30px;
    transition: 0.5s;

}

.buttonContain {
    height: 200px;
    position: relative;
}
  
.verticalCenter {

    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

